* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.h1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

h1 {
  font-size: 3rem;
  color: rgba(212, 175, 55, 1);
  margin: 0;
  text-align: center;
}


nav {
  min-height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../assets/headerResized.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  box-shadow: 0 2px 5px rgb(255, 255, 255);
  position: relative;
}

.ksa-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin-left: 4vh;
}

.ksa-logo {
  height: 12vh;
  width: auto;
  object-fit: contain;
  margin-right: 2vw;
}

.ksa-link:hover .ksa-logo {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.main-nav {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main-nav li {
  margin-left: 20px;
}

.main-nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 1vh 2vw;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}

.main-nav a:hover {
  background-color: rgb(0, 0, 0);
  color: rgba(212, 175, 55, 1);
  border-radius: 4px;
}

.hamburger-menu {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4vw;
  cursor: pointer;
  z-index: 500;
  width: 5vh;
  height: 5vh;
}

.hamburger-icon {
  width: 100%;
  height: 100%;
  fill: #000;
}

.close-sidebar {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1100;
  margin-bottom: 20px;
}

.close-icon {
  width: 4vh;
  height: 4vh;
  fill: black;
  background-color: rgba(255, 255, 255, 1);
  transition: background-color 0.3s ease, fill 0.3s ease;
  cursor: pointer;
  display: block;
}


.close-icon:hover {
  fill: rgba(212, 175, 55, 1);
  background-color: rgba(0, 0, 0, 0.8);
}

.close-sidebar a {
  display: block;
  width: 5vh;
  text-decoration: none;
  background: none;
  padding: 0;
  border: none;
  z-index: 1100;
  outline: none;
  margin-bottom: 2vh;
}

.close-icon path {
  stroke: black;
  stroke-width: 2;
  fill: none;
}

.close-icon:hover path {
  stroke: rgba(212, 175, 55, 1);
}

.sidebar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 550;
  background-image: url(../assets/headerResized.jpg);
  background-position: right center;
  background-size: cover;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: none;
  flex-direction: column;
  margin: 30px 0;
  padding-top: 120px;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.sidebar.active {
  transform: translateX(0);
  margin-top: 0;
}

.sidebar li {
  list-style: none;
  margin: 20px 0;
  padding-left: 15px;
}

.sidebar a {
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  width: 100%;
  z-index: 10;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 1);
}

.sidebar a:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(212, 175, 55, 1);
}

.sidebar.active~.hamburger-menu {
  display: none;
}

.footer {
  min-height: 30vh;
  background-image: url(../assets/footer2Resized.jpg);
  background-size: cover;
  background-position: center bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4vh;
  position: relative;
  color: white;
}

.footer-content {
  display: flex;
  gap: 4vh;
}

.social-icon {
  width: 5vh;
  height: 5vh;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.instagram-icon {
  filter: invert(1) brightness(150%) contrast(100%);
  object-fit: contain;
  object-position: center;
  width: 5.5vh;
}

.social-icon:hover {
  transform: scale(1.5);
}

@media (min-width: 801px) {
  .hamburger-menu {
    display: none !important;
  }

  .main-nav {
    display: flex;
  }

  #managePostLink1 {
    display: block;
  }

  #managePostLink2 {
    display: none;
  }
}

@media (max-width: 800px) {
  .hamburger-menu {
    display: block;
  }

  .main-nav {
    display: none;
  }

  .sidebar {

    display: flex;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  #managePostLink1 {
    display: none;
  }
}