@import url('./../../CSS/Header.css');
@import url('./../../CSS/carousel.css');

.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  gap: 2vh;
  padding: 2vh;
  max-width: 90vw;
  margin: 0 auto;
}

.blog-post {
  background-color: #ffffff;
  border: 0.1vh solid #ddd;
  border-radius: 0.8vh;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* Image styling */
.post-image {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  border-bottom: 0.1vh solid #ddd;
}

.post-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1vh 0 0.5vh;
  color: #333;
  text-align: center;
}

.post-excerpt {
  padding: 0 1vh;
  color: #666;
  font-size: 0.9rem;
  text-align: center;
}

.blog-post:hover {
  transform: translateY(-0.5vh);
  box-shadow: 0 0.4vh 1vh rgba(0, 0, 0, 0.1);
}

.manage-button {
  margin-top: 1vh;
  margin-bottom: 5%;
  padding: 0.8vh 1.2vh;
  background-color: black;
  color: rgba(212, 175, 55, 1);
  border: none;
  border-radius: 0.4vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
}

.manage-button:hover {
  background-color: rgba(212, 175, 55, 1);
  color: black;
  border: 2px solid black;
}