@import url('/CSS/header.css');

#postContainer {
  border: 2px solid red;
  padding: 10px;
  min-height: 200px;
  background-color: #f9f9f9;
}

.copy-link-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.copy-link-icon {
  width: 24px;
  height: 24px;
  display: block;
}