@import url('/CSS/header.css');

body {
  /*background-color: #f4f4f4;*/

  /*color: #333;*/
  color: rgba(212, 175, 55, 1);
  font-family: 'Arial', sans-serif;
}

.content-editor {
  border: 1px solid rgba(212, 175, 55, 1);
  /* Gold border for a sleek look */
  padding: 2vh;
  height: auto;
  min-height: 20vh;
  max-height: none;
  overflow-y: auto;
  line-height: 1.5;
  cursor: text;
  border-radius: 0.5vh;
  background-color: white;
  /* White background for readability */
  color: black;
  /* Text color inside the editor */
}

/*
.content-editor {
  border: 1px solid #ccc;
  padding: 2vh;
  min-height: 20vh;
  max-height: 40vh;
  overflow-y: auto;
  line-height: 1.5;
  cursor: text;
  border-radius: 0.5vh;
  background-color: #fff;
}
*/

.content-editor img {
  max-width: 100%;
  height: auto;
  margin: 1vh 0;
  display: block;
  border-radius: 0.5vh;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}


.modal-content {
  background-color: white;
  margin: 20vh auto;
  padding: 2vh;
  border: 1px solid rgba(212, 175, 55, 1);
  width: 90vw;
  max-width: 40vh;
  border-radius: 1vh;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


.close-button {
  color: rgba(212, 175, 55, 1);
  float: right;
  font-size: 2.5vh;
  font-weight: bold;
  cursor: pointer;
}

.cancel-button,
.confirm-button {
  background-color: rgba(212, 175, 55, 1);
  color: black;
  padding: 1vh 2vw;
  margin: 1vh;
  border: none;
  cursor: pointer;
  border-radius: 0.5vh;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.cancel-button:hover,
.confirm-button:hover {
  background-color: white;
  color: black;
}

form div {
  margin-bottom: 2vh;
}


input[type="text"] {
  width: 100%;
  padding: 1vh;
  border: 1px solid rgba(212, 175, 55, 1);
  border-radius: 0.5vh;
  background-color: #333;
  color: white;
  box-sizing: border-box;
  margin-top: 0.5vh;
}


#actionButton {
  background-color: rgba(212, 175, 55, 1);
  color: black;
  padding: 1vh 2vw;
  border: none;
  border-radius: 0.5vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1vh;
}


#actionButton:hover {
  background-color: white;
  color: black;
}


.post-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
  border-bottom: 1px solid rgba(212, 175, 55, 1);
}


.editPostButton,
.deletePostButton {
  background-color: black;
  color: rgba(212, 175, 55, 1);
  padding: 0.8vh 1.5vw;
  border: 1px solid gold;
  cursor: pointer;
  border-radius: 0.5vh;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.editPostButton:hover {
  background-color: white;
  color: black;
}

.deletePostButton:hover {
  background-color: white;
  color: black;
}